<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'user_show.jpg' %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>PicChum</h1>
          <span class="subheading">〜Picture（写真）を通してChum（仲良し）になれますに〜</span><br>
          <h1>ユーザーページ</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>ユーザー情報が確認できます。<br>登録情報の変更は下記のボタンをクリック</p>
        <div class="my-5">
          <h1><%= @user.name %> のページ</h1>
          <br>
          <% if @user.user_image? %>
            <%= image_tag @user.user_image.url %>
          <% else %>
            <%= image_tag (asset_path'no_image.png') %>
          <% end %>
          <h3>ユーザー名: <%= @user.name %></h3>
          <p>メールアドレス: <%= @user.email %></p>
        </div>
        <% if @user == current_user %>
            <%= link_to 'ユーザー情報変更', edit_user_path(@user), class: "btn btn-outline-warning" %> |
            <%= link_to 'PicChum投稿一覧', pictures_path, class: "btn btn-outline-primary" %> |
            <%= link_to 'お気に入りPicChum一覧', favorites_path, class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to 'PicChum index', pictures_path, class: "btn btn-info" %>
          <% end %>
      </div>
    </div>
  </div>
</main>