<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'picture.show.jpg' %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>YOUR PicChum</h1>
          <span class="subheading">Have questions? I have answers.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
        <div class="my-5">
          <p id="notice"><%= notice %></p>
          <p>
            <strong>Image:</strong>
            <%= image_tag @picture.image.url, width: '20%', height: '20%' %>
          </p>
          <p>
            <strong>Content:</strong>
            <%= @picture.content %>
          </p>
          <% unless @picture.user_id == current_user.id %>
            <% if @favorite.present? %>
              <%= link_to 'Unfavorite...', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Favorite!', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary' %>
            <% end %>
          <% end %>
          <% if @picture.user == current_user %>
            <%= link_to 'Edit', edit_picture_path(@picture) %> |
            <%= link_to 'Back', pictures_path %>
          <% else %>
            <%= link_to 'Back', pictures_path %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</main>
