<!-- Page Header-->
<header class="masthead" style="background-image: url(<%= asset_path 'picture_show.jpg' %>)">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>PicChum詳細</h1>
          <span class="subheading">〜Picture（写真）を通してChum（仲良し）になれますに〜</span><br>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>投稿したPicChumを確認できます。<br>投稿内容を変更する場合は下記ボタンより変更してください。</p>
        <div class="my-5">
          <p id="notice"><%= notice %></p>
          <p>
            <strong>写真:</strong>
            <%= image_tag @picture.picture_image.url, width: '20%', height: '20%' %>
          </p>
          <p>
            <strong>内容:</strong>
            <%= @picture.content %>
          </p>
          <% unless @picture.user_id == current_user.id %>
            <% if @favorite.present? %>
              <%= link_to '解除...', favorite_path(id: @favorite.id), method: :delete, class: "btn btn-outline-danger" %>
            <% else %>
              <%= link_to 'PicChumイイね!', favorites_path(picture_id: @picture.id), method: :post, class: "btn btn-outline-success" %>
            <% end %>
          <% end %>
          <% if @picture.user == current_user %>
            <%= link_to '投稿内容変更', edit_picture_path(@picture), class: "btn btn-outline-warning" %> |
            <%= link_to 'PicChum投稿一覧', pictures_path, class: "btn btn-outline-primary" %>
          <% else %>
            <%= link_to 'PicChum投稿一覧', pictures_path, class: "btn btn-outline-primary" %>
          <% end %>
          </div>
        </div>
    </div>
  </div>
</main>
